body {
  font-family: "lucida sans", sans-serif;
  font-size: 1em;
  background-color: #eeeaea;
  color: #2d2d2d;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-block {
  display: block;
}

.d-inl {
  display: inline;
}

.d-inb {
  display: inline-block;
}

.d-li {
  display: list-item;
}

.fnt-white {
  color: #eeeaea;
}

.fnt-purple {
  color: #84338b;
}

.fnt-red {
  color: #b40649;
}

.fnt-gray {
  color: #b4b3b4;
}

.fnt-dark {
  color: #2d2d2d;
}

.fnt-transp {
  color: transparent;
}

.bg-white {
  background: #eeeaea;
}

.bg-purple {
  background: #84338b;
}

.bg-red {
  background: #b40649;
}

.bg-gray {
  background: #b4b3b4;
}

.bg-dark {
  background: #2d2d2d;
}

.bg-transp {
  background: transparent;
}

.mg-sm {
  margin: 0.1rem;
}

.mg-md {
  margin: 0.5rem;
}

.mg-lg {
  margin: 1rem;
}

.pd-sm {
  padding: 0.1rem;
}

.pd-md {
  padding: 0.5rem;
}

.pd-lg {
  padding: 1rem;
}

/* grid */
.grid-container {
  margin: 2rem;
}

.grid-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr * 12;
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
}

.grid-right {
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-column: 10 / span 3;
}

.grid-center {
  -ms-grid-column: 4;
  -ms-grid-column-span: 6;
  grid-column: 4 / span 6;
}

.grid-all {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
}

/* align */
.align-left {
  -ms-grid-column-align: start;
  justify-self: start;
}

.align-right {
  -ms-grid-column-align: end;
  justify-self: end;
}

.align-horizontal {
  -ms-grid-column-align: center;
  justify-self: center;
}

.align-top {
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}

.align-bottom {
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

.align-vertical {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.align-full {
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

/* text */
.txt-left {
  text-align: left;
}

.txtright {
  text-align: right;
}

.txt-center {
  text-align: center;
}

.txt-justify {
  text-align: justify;
}

button {
  color: white;
  font-size: 0.8em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.2em;
  -webkit-transition: background-color, -webkit-transform, -webkit-box-shadow;
  transition: background-color, -webkit-transform, -webkit-box-shadow;
  transition: transform, background-color, box-shadow;
  transition: transform, background-color, box-shadow, -webkit-transform,
    -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  position: relative;
}

button:active {
  -webkit-transform: translateY(4px) !important;
  transform: translateY(4px) !important;
}

.btn-scale:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.btn-pink:hover {
  background-color: #ff8cc6;
}

.btn-rotate:hover {
  -webkit-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}

.btn-shadow:hover {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

input {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  margin: 8px 0;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 2px solid red;
  background-color: white;
}

input[type="submit"] {
  cursor: pointer;
}

input[type="submit"]:active {
  -webkit-transform: translateY(4px) !important;
  transform: translateY(4px) !important;
}

select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  margin: 8px 0;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 2px solid red;
  background-color: white;
}
/*# sourceMappingURL=style.css.map */
