/* framework */
body {
  font-family: "lucida sans", sans-serif;
  font-size: 1em;
  background-color: blanchedalmond;
  color: rgb(45, 45, 45);
}

/* display */
.d-flex {
  display: flex;
}
.d-block {
  display: block;
}
.d-inl {
  display: inline;
}
.d-inb {
  display: inline-block;
}
.d-li {
  display: list-item;
}
/* font colors */
.fnt-white {
  color: white;
}
.fnt-almond {
  color: blanchedalmond;
}
.fnt-red {
  color: rgb(180, 6, 73);
}
.fnt-gray {
  color: rgb(180, 179, 180);
}
.fnt-dark {
  color: rgb(45, 45, 45);
}
.fnt-transp {
  color: transparent;
}

/* background colors */
.bg-white {
  background: white;
}
.bg-purple {
  background: rgb(132, 51, 139);
}
.bg-red {
  background: rgb(180, 6, 73);
}
.bg-gray {
  background: rgb(180, 179, 180);
}
.bg-dark {
  background: rgb(46, 45, 45);
}
.bg-transp {
  background: transparent;
}

/* margin */
.mg-sm {
  margin: 0.1rem;
}
.mg-md {
  margin: 0.5rem;
}
.mg-lg {
  margin: 1rem;
}

/* padding */
.pd-sm {
  padding: 0.1rem;
}
.pd-md {
  padding: 0.5rem;
}
.pd-lg {
  padding: 1rem;
}

/* grid */
.grid-container {
  margin: 2rem;
}
.grid-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}
.grid-left {
  grid-column: 1 / span 3;
}
.grid-right {
  grid-column: 10 / span 3;
}
.grid-center {
  grid-column: 4 / span 6;
}
.grid-all {
  grid-column: 1 / 13;
}

/* align */
.left {
  justify-self: start;
}
.right {
  justify-self: end;
}
.horizontal {
  justify-self: center;
}
.top {
  align-self: start;
}
.bottom {
  align-self: end;
}
.vertical {
  align-self: center;
}
.full {
  align-self: stretch;
}

/* text */
.txt-left {
  text-align: left;
}
.txt-right {
  text-align: right;
}
.txt-center {
  text-align: center;
}
.txt-justify {
  text-align: justify;
}

/* buttons */
button {
  color: white;
  font-size: 0.8em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.2em;
  transition: transform, background-color, box-shadow;
  transition-duration: 250ms;
  position: relative;
}
.btn-scale:hover {
  transform: scale(1.1);
}
.btn-scale:active {
  transform: translateY(4px);
}
.btn-pink:hover {
  background-color: rgb(255, 140, 198);
}
.btn-pink:active {
  transform: translateY(4px);
}
.btn-rotate:hover {
  transform: rotateZ(360deg);
}
.btn-rotate:active {
  transform: translateY(4px);
}
.btn-shadow:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
.btn-shadow:active {
  transform: translateY(4px);
}

/* forms */
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  border-bottom: 2px solid red;
}
input[type="password"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  border-bottom: 2px solid red;
}
input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
