@mixin forms {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  border-bottom: 2px solid $detail;
  background-color: $light;
}
@mixin animation($animation-name) {
  animation-name: $animation-name;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-timing-function: ease-out;
  position: relative;
}
@mixin defgrid($gridstart, $gridend) {
  grid-column-start: $gridstart;
  grid-column-end: $gridend;
}
