@import "./_variable.scss";
@import "./_default.scss";
@import "./_animation.scss";
@import "./_mixin.scss";

// framework

// display
.d {
  &-flex {
    display: flex;
  }
  &-block {
    display: block;
  }
  &-inl {
    display: inline;
  }
  &-inb {
    display: inline-block;
  }
  &-li {
    display: list-item;
  }
}

//font colors
.fnt {
  &-light {
    color: $light;
  }
  &-detail {
    color: $detail;
  }
  &-accent {
    color: $accent;
  }
  &-gray {
    color: $gray;
  }
  &-dark {
    color: $dark;
  }
  &-transp {
    color: $trans;
  }
}

// background colors
.bg {
  &-white {
    background: $light;
  }
  &-detail {
    background: $detail;
  }
  &-accent {
    background: $accent;
  }
  &-gray {
    background: $gray;
  }
  &-dark {
    background: $dark;
  }
  &-transp {
    background: $trans;
  }
}

// margin
.mg {
  &-xs {
    margin: $xs;
  }
  &-sm {
    margin: $sm;
  }
  &-md {
    margin: $md;
  }
  &-lg {
    margin: $lg;
  }
  &-xl {
    margin: $xl;
  }
}

// padding
.pd {
  &-xs {
    padding: $xs;
  }
  &-sm {
    padding: $sm;
  }
  &-md {
    padding: $md;
  }
  &-lg {
    padding: $lg;
  }
  &-xl {
    padding: $xl;
  }
}

/* grid */
.grid {
  &-container {
    margin: $md;
  }
  &-row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
  }
  &-left {
    grid-column: 1 / span 3;
  }
  &-right {
    grid-column: 10 / span 3;
  }
  &-center {
    grid-column: 4 / span 6;
  }
  &-all {
    grid-column: 1 / 13;
  }
  &-custom {
    grid-column: $gridstart / $gridend;
  }
}

/* align */
.align {
  &-left {
    justify-self: start;
  }
  &-right {
    justify-self: end;
  }
  &-horizontal {
    justify-self: center;
  }
  &-top {
    align-self: start;
  }
  &-bottom {
    align-self: end;
  }
  &-vertical {
    align-self: center;
  }
  &-full {
    align-self: stretch;
  }
  &-content {
    &-left {
      justify-content: left;
    }
    &-right {
      justify-content: right;
    }
    &-center {
      justify-content: center;
    }
    &-spaced {
      justify-content: space-between;
    }
  }
}

/* text */
.txt {
  &-left {
    text-align: left;
  }
  &right {
    text-align: right;
  }
  &-center {
    text-align: center;
  }
  &-justify {
    text-align: justify;
  }
}

//animation
.anime {
  &-left {
    @include animation(left);
  }
  &-right {
    @include animation(right);
  }
  &-top {
    @include animation(top);
  }
  &-bottom {
    @include animation(bottom);
  }
}

// button
button {
  color: $light;
  font-size: 0.8em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.2em;
  transition: all;
  transition-duration: 250ms;
  position: relative;
  &:active {
    transform: translateY(4px) !important;
  }
}
// position
.ps {
  position: sticky;
  top: 0;
}
.pa {
  position: absolute;
}
.pr {
  position: relative;
}

// forms
input {
  @include forms;
}
input[type="submit"] {
  cursor: pointer;
  &:active {
    transform: translateY(4px) !important;
  }
}
select {
  @include forms;
}
